/* make this style.scss if u wanna go crazy */

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

html, body { 
	width: 100%; height: 100%;
	font-family: Verdana, Arial, sans-serif;
}

.dark {
	color: white;
	background-color: #101010;
}

canvas { 
	display: block; 
	margin: 0 auto;
	margin-top: 64px;
}

#controls {
	width:  600px;
	margin:  0 auto;
	text-align: right;
	padding: 0.5em 0;
}



#splash {
	z-index: 1;
	position: fixed;
	width: 100%;
	background: white;
	top: 0;
	bottom: 0;
	padding: 2em;
	display: flex;
	align-items: center;
    justify-content: center;
}

.mobile #splash {
	padding:  0.5em;
}

#title {
	font-size: 2em;
	margin-bottom: 1em;
}

.mobile #title {
	font-size:  1.5em;
}

#splash * {
	font-family: Verdana, Arial, sans-serif;
}

.mobile #inner-splash {
	text-align:  center;
}

/* debug remove */
#log {
	position: fixed;
	top: 10px;
	left: 10px;
	font-family:  monaco, monospace;
	font-size:  32px;
}